# ── GROQ API key ──
GROQ_API_KEY=groq_api_key_here

# ── Snowflake credentials ──
SNOWFLAKE_ACCOUNT=snowflake_account_here
SNOWFLAKE_USER=snowflake_user_here
SNOWFLAKE_PASSWORD=snowflake_password_here
SNOWFLAKE_DATABASE=snowflake_database_here
SNOWFLAKE_SCHEMA=snowflake_schema_here
SNOWFLAKE_WAREHOUSE=snowflake_warehouse_here

STORAGE_BACKEND=csv_or_snowflake